.topbar{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid #c5c5c5;
}
.logo{
    height: 4vh;
    margin-top: 1%;
}
.middle{
    display: flex;
    justify-content: space-between;
    width: 25vw;
    padding: 0.3em;
    border-radius: 50px;
    box-shadow: 2px 5px 2px 5px rgba(0,0,0,0.1);
}
.search-icon{
    margin: 4% 0 0 3%;
    background: red;
    color: #ffffff;
    border-radius: 50%;
    padding: 0.5em;
}
.end{
    display: flex;
    width: 17vw;
}
.globe-icon{
    margin: 10% 0 0 5%;
}
.user{
    margin: 5% 0 0 5%;
    width: 5vw;
    height: 4vh;
    padding: 0.3em;
    border-radius: 20px;
    border: 1px solid #c5c5c5;
}
.bar-icon{
    padding-right: 0.5em;
}