.main{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

.house-image{
    height: 35vh;
    width: 20vw;
    padding-left: 1.5em;
    border-radius: 10px;
}
.love{
    position: relative;
    left: -8%;
    margin-top: 5%;
}
.bottom{
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 20vw;
    padding-left: 1.5em;
}
.top, .rating{
    display: flex;
}
.star{
    margin: 40% 5% 0 0;
}